################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio
/.vs/Fire-Pack-DLC/v17
/.gitignore
/.gitignore
